<appSettings>
  <add key="skin" value="" />
  <add key="conStr" value="Server=localhost;User Id=postgres;Password=1234;Database=test;" />
  <add key="ServerHost" value="wHTH8UEtpJ8DB2dSFCJlWQ==" />
  <add key="ServerPort" value="x2MWpTKER2A=" />
  <add key="Username" value="X/wuKluTVg2Z6cqR1FXIJQ==" />
  <add key="Password" value="VbrmL6qGNvI=" />
  <add key="Database" value="HBSHbUsxLqZNT9jemFTnXw==" />
  <add key="ServerHost_HSBA" value="wHTH8UEtpJ8DB2dSFCJlWQ==" />
  <add key="ServerPort_HSBA" value="x2MWpTKER2A=" />
  <add key="Username_HSBA" value="X/wuKluTVg2Z6cqR1FXIJQ==" />
  <add key="Password_HSBA" value="VbrmL6qGNvI=" />
  <add key="Database_HSBA" value="Rrm/Ix5emt90KIkE7F3pSA==" />
  <add key="ServerHost_BGX" value="ynGG1EfwNU21pgD1KUcFHYJQRfyKeSqt" />
  <add key="Username_BGX" value="SfsMjcenJ68=" />
  <add key="Password_BGX" value="Wfcy3r2UVFE=" />
  <add key="Database_BGX" value="kQKPKpCGGyCZ6cqR1FXIJQ==" />
  <add key="Database_BGXEvents" value="kQKPKpCGGyCng4/12Rquhg==" />
  <add key="checkEditNhoPass" value="True" />
  <add key="LoginUser" value="KgyxW9jqNcc=" />
  <add key="LoginPassword" value="E36w19IK+gaPIT7K1d/6sw==" />
  <add key="DuongDanDocFileXML" value="" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>