<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataAccess.Properties.Settings.QLHVTTECConnectionString"
        connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=O2S_QLHV;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings configSource="AppSettings.config">
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>