<appSettings>
  <add key="skin" value="" />
  <add key="ServerHost" value="ynGG1EfwNU21pgD1KUcFHYJQRfyKeSqt" />
  <add key="Username" value="SfsMjcenJ68=" />
  <add key="Password" value="Wfcy3r2UVFE=" />
  <add key="Database" value="Cjugjxvn1vHb4ZiEsLsVYu+YTUTXeGC5" />
  <add key="checkEditNhoPass" value="True" />
  <add key="LoginUser" value="KgyxW9jqNcc=" />
  <add key="LoginPassword" value="E36w19IK+gaPIT7K1d/6sw==" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>